.container {
  margin: 0 auto;
  max-width: calc(100% - 100px);
  width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
  margin-top: -50px;
  margin-left: -50px;
}

.row > * {
  box-sizing: border-box;
  padding: 50px 0 0 50px;
}

.row > .col-4 {
  width: 33.33333%;
}

.row > .col-12 {
  width: 100%;
}

section,
article {
  margin-bottom: 5em;
}

section > :last-child,
article > :last-child,
section:last-child,
article:last-child {
  margin-bottom: 0;
}

header {
  margin: 0 0 2em 0;
}

header h2,
header h3 {
  margin: 0 0 0.25em 0;
}

header p {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.065em;
  font-size: 0.9em;
  color: #696969;
  margin: 0;
}

header p strong {
  color: #404248;
  font-weight: 800;
}

header.major {
  border-bottom: solid 1px #dbdbdb;
  margin: 0 0 3em 0;
}

header.major:after {
  content: '';
  display: block;
  border-top: solid 1px #dbdbdb;
  height: 8px;
}

header.major h2,
header.major h3 {
  margin: 0 0 1.2em 0;
}

header.major p {
  margin: 0 0 1.5em 0;
  position: relative;
  top: -1em;
}

.wrapper {
  padding: 7em 0;
}

.wrapper > .inner {
  position: relative;
  z-index: 2;
}

.wrapper.style1 {
  position: relative;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  background-image: url('../assets/images/bg03.png'), url('../assets/images/bg04.png'), url('../assets/images/bg02.png');
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: 100% 15em, 100% 15em, auto auto;
  background-position: top center, bottom center, top left;
}

.wrapper.style3 {
  position: relative;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  background-image: url('../assets/images/bg03.png'), url('../assets/images/bg02.png');
  background-repeat: no-repeat, repeat;
  background-size: 100% 15em, auto auto;
  background-position: top center, top left;
}